* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#mtrs {
  position: relative;
  height: 100vh;
}

#mtrs .mtrs {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#mtrs ul {
   display: inline-block;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-top: 2px;
  border-style: groove;
  border-color: gray;
  border-radius: 5px;
}

#mtrs ul li{
	float: left;
}

#mtrs ul li a{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
}

#mtrs ul li a:hover:not(.active) {
  background-color: #111;
  color:white;
}

#mtrs ul li a.active {
  float: right;
}

.active {
  background-color: #4CAF50;
}

.mtrs {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.mtrs .mtrs-404 {
  position: relative;
  height: 240px;
}

.mtrs .mtrs-404 h1 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 252px;
  font-weight: 900;
  margin: 0px;
  color: #262626;
  text-transform: uppercase;
  letter-spacing: -40px;
  margin-left: -20px;
    filter: drop-shadow(15px 15px 15px rgba(0,0,0,0.9));
}

.mtrs .mtrs-404 h1>span {
  text-shadow: -8px 0px 0px #fff;
}

.mtrs .mtrs-404 h3 {
  font-family: 'Cabin', sans-serif;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #262626;
  margin: 0px;
  letter-spacing: 3px;
  padding-left: 6px;
}

.mtrs h2 {
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  margin-top: 0px;
  margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
  .mtrs .mtrs-404 {
    height: 200px;
  }
  .mtrs .mtrs-404 h1 {
    font-size: 200px;
  }
}

@media only screen and (max-width: 480px) {
  .mtrs .mtrs-404 {
    height: 162px;
  }
  .mtrs .mtrs-404 h1 {
    font-size: 162px;
    height: 150px;
    line-height: 162px;
  }
  .mtrs h2 {
    font-size: 16px;
  }
}